<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura,opencover</Format>
          <ExcludeByAttribute>CompilerGenerated</ExcludeByAttribute>
          <ExcludeByFile>**/Program.cs,**/Migrations/**/*.cs</ExcludeByFile>
          <Threshold>70</Threshold>
          <ThresholdType>line</ThresholdType>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
